// src/styles/layout/global.scss

html, body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
}

::selection {
	background-color: transparentize($color-peter-river, 0.7);
}

.hide {
	display: none !important;
}

a:link {
	color: $color-peter-river;
}

a:visited {
	color: $color-amethyst;
}

a:hover {
	color: $color-peter-river;
}

a:active {
	color: $color-amethyst;
}
