// src/styles/layout/_tutorial.scss

main {
	width: 100%;
	max-width: $dim-main-width;
	margin: 0 auto;

	.lesson {
		padding-bottom: 32px;

		> h1 {
			padding-top: 32px;
			position: relative;
			text-align: center;
			font-weight: normal;
			font-family: $font-head;
			font-size: 2em;

			&:hover .anchor-link {
				color: $color-asbestos;
			}

			.lesson-number {
				color: $color-silver;
			}

			.anchor-link {
				position: absolute;
				left: -2rem;
				font-size: 0.8em;
				line-height: 1.8em;
				color: $color-clouds;
				text-decoration: none;
				transition: color 0.3s;

				&:hover {
					color: $color-peter-river;
				}
			}
		}

		> h3 {
			margin-top: 64px;
		}

		> p {
			font-family: $font-body;
			font-size: 1.2em;
			line-height: 1.8em;
		}

		code {
			font-family: $font-code;
			color: $color-midnight-blue;
		}
	}

	hr {
		height: 1px;
		margin: 64px 0;
		border-style: none;
		background-color: $color-silver;
	}
}
