<!DOCTYPE html>
<html>
	<head>
		<title>Learning Markdown</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="static/styles/main.css">
		<link rel="stylesheet" type="text/css" href="components/codemirror/lib/codemirror.css">
	</head>
	<body>
		<main>
			{{#lessons lessons}}
				{{{header meta}}}
				{{{contents}}}
			{{/lessons}}
		</main>

		<script src="components/codemirror/lib/codemirror.js"></script>
		<script src="components/jquery/dist/jquery.min.js"></script>
		<script src="components/marked/lib/marked.js"></script>

		<script src="static/scripts/editor.js"></script>
	</body>
</html>
